$themeButton: #c72c41;

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main {
    // position: fixed;
    top: 0;
    left: 0;

    height: 5rem;
    display: flex;
    width: 100%;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.sign-up {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    padding: 7px 20px;
    background-color: $themeButton;
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 30px;
}

.sign-up-anime {
    height: 5em;
    display: flex;
    align-items: center;
    // border:1px solid rgb(218,165,32);
    padding: 10px 30px;
    // background-color:rgb(218,165,32);
    text-align: center;
    color: white;
    cursor: pointer;
    clip-path: polygon(17% 0, 100% 0, 100% 100%, 0 100%);

    background-image: linear-gradient(45deg, #c72c41, transparent);
    background-size: 1000%;
    animation: sidePolAppear 0.5s forwards;
}

@keyframes sidePolAppear {
    from {
        background-position: 150px;
    }
    to {
        background-position: 0px;
    }
}

.nav-links-anime {
    padding: 1.5rem;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
}

span {
    text-shadow: 0px 0px 9px black;
}

.mb-action-color-static {
    background-color: $themeButton;
    transition: 0.3s;
}
.mb-action-color-Anim {
    background-color: transparent;
}
.mb-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $themeButton;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.open-menu{
    visibility: visible!important;
    opacity: 1;
}
.rotateBtn{
    transform: rotate(180deg)!important;
}
@media only screen and (max-width: 600px) {
    .main span {
        display: none;
    }
}
