<div class="main ">
    <div style="margin-left:auto;display:flex;">
        <span [ngClass]="{'nav-links':!homeHeader,'nav-links-anime':homeHeader}" routerLink="/">Home</span>
        <span [ngClass]="{'nav-links':!homeHeader,'nav-links-anime':homeHeader}" routerLink="/aboutus">About Us</span>
        <span [ngClass]="{'nav-links':!homeHeader,'nav-links-anime':homeHeader}" routerLink="/campaign">Campaigns</span>
        <span [ngClass]="{'nav-links':!homeHeader,'nav-links-anime':homeHeader}" routerLink="/founder">Founders</span>
        <span [ngClass]="{'nav-links':!homeHeader,'nav-links-anime':homeHeader}" routerLink="/gallery">Gallery</span>
        <div [ngClass]="{'sign-up':!homeHeader,'sign-up-anime':homeHeader}" routerLink="/contactus">Contact Us</div>
    </div>
</div>

<!-- [ngClass]="{'homeHeader'?'sign-up':'sign-up-anime'}"  -->