<div class="main ">
    <div style="margin-left:auto;display:flex;">
        <span  [ngClass]="'homeHeader'?'nav-links':'nav-links-anime'">Home</span>
        <span  [ngClass]="'homeHeader'?'nav-links':'nav-links-anime'">How we help</span>
        <span  [ngClass]="'homeHeader'?'nav-links':'nav-links-anime'">Take the tour</span>
        <span  [ngClass]="'homeHeader'?'nav-links':'nav-links-anime'">Employement</span>
        <span  [ngClass]="'homeHeader'?'nav-links':'nav-links-anime'">Contact Us</span>
        <span  [ngClass]="'homeHeader'?'sign-up':'sign-up-anime'" >Sign up</span>
    </div>
</div>