.footer {
    width: 100%;
    min-height: fit-content;
    padding:5% 0;
    background-color:rgb(40,44,47);
    color:white;
}

.address{
    display:flex;
    align-items: center;
    padding:5% 0;
}

.mail{
    display:flex;
    align-items: center;
}
