<div class="footer">

    <div style="flex: 1;"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Heading 1</h2>
                <p>Link 1</p>
                <p>Link 2</p>
            </div>
            <div class="col-md-3">
                <h2>Heading 1</h2>
                <p>Link 1</p>
                <p>Link 2</p>
            </div>
            <div class="col-md-3">
                <h2>Heading 1</h2>
                <p>Link 1</p>
                <p>Link 2</p>
            </div>
            <div class="col-md-3">
                <h2>Heading 1</h2>
                <p>Link 1</p>
                <p>Link 2</p>
            </div>
        </div>
    </div>

    <div style="flex: 1;"></div>

</div>