.main {
    display: flex;
    flex-direction: column;
    width: inherit;
    align-items: flex-start;
}

.box {
    width: 48px;
    height: 48px;
    transition: 0.3s;
    display: flex;
    cursor:pointer;
}
.box span {
    color: white;
}

.box a {
    margin: auto;
    display: block;
    width: fit-content;
    color: white;
    line-height: 48px;
    font-size: 22px;
    text-decoration: none;
}

.fb {
    background-color: #4267b2;
    border-top-right-radius: 8px;
}
.twit {
    background-color: #55acee;
}
.link {
    background-color: #0077b5;
}
.insta{
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf)}
.mail{
    background-color: #7d7d7d;
    border-bottom-right-radius: 8px;
}

.expandBox {
    width: 80px !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
