<!-- <div class="main">

    <div class="anim-btn" (mouseenter)="anim()"
        style="display:flex;align-items:center;background-color: rgb(66,103,178);color:white;border-top-right-radius: 7px;">
        <a href="" class="fa fa-facebook" style="color:white;padding:10px 15px;text-decoration: none;"></a>
        <span style="margin:0 7px;display:none">Share</span>
    </div>

    <div style="display:flex;align-items:center;background-color: rgb(85,172,238);color:white;">
        <a href="" class="fa fa-twitter" style="color:white;padding:10px 12px;text-decoration: none;"></a>
        <span style="margin:0 7px;">Tweet</span>
    </div>
    <div style="display:flex;align-items:center;background-color: rgb(0,119,181);color:white;">
        <a href="" class="fa fa-linkedin" style="color:white;padding:10px 12.8px;text-decoration: none;"></a>
        <span style="margin:0 7px;">Share</span>
    </div>
    <div
        style="display:flex;align-items:center;background-color:rgb(125,125,125);color:white;border-bottom-right-radius: 7px;">
        <span class="material-icons" style="color:white;padding:7px 7.4px;cursor:pointer;">
            mail_outline
        </span>
        <span style="margin:0 8px;">Email</span>
    </div>
</div> -->

<div style="display: flex; flex-direction: column;">

    <div class="fb box" (mouseenter)="expand('box1')" (mouseleave)="expand('box1')" id="box1">
        <a href="" class="fa fa-facebook"></a>
    </div>
    <div class="twit box" (mouseenter)="expand('box2')" (mouseleave)="expand('box2')" id="box2">
        <a href="" class="fa fa-twitter"></a>
    </div>
    <div class="link box" (mouseenter)="expand('box3')" (mouseleave)="expand('box3')" id="box3">
        <a href="" class="fa fa-linkedin"></a>
    </div>
    <div class="insta box" (mouseenter)="expand('box4')" (mouseleave)="expand('box4')" id="box4">
        <a href="" class="fa fa-instagram"></a>
    </div>
    <div class="mail box" (mouseenter)="expand('box5')" (mouseleave)="expand('box5')" id="box5">
        <a href="" class="fa fa-envelope"></a>
    </div>

</div>