
<div style="min-height: 100vh; background-color: rgb(163, 163, 163);">

    <app-header style="background-color: black;"></app-header>
   
    <div id="wrap">

        <br><br>

        <div id="form-wrap" (click)="open()">

            <div class="form">

                <form [formGroup]="contact" (ngSubmit)="submit()" id="form">

                    <mat-form-field class="form-field">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="name">
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" formControlName="email">
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label>Contact Number</mat-label>
                        <input matInput type="text" formControlName="contact">
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label>Subject</mat-label>
                        <input matInput type="text" formControlName="subject">
                    </mat-form-field>

                    <mat-form-field class="form-field">
                        <mat-label>Message</mat-label>
                        <textarea matInput rows="5" placeholder="Enter your message here"
                            formControlName="message"></textarea>
                    </mat-form-field>

                    <button mat-raised-button color="primary" type="submit">Primary</button>

                </form>

            </div>

        </div>

    </div>

</div>