.main{
    height:90vh;
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(49, 49, 49, 0.8), 
      rgba(49, 49 ,49, 0.45)
    ),
  
    /* bottom, image */
    url("../../assets/plants3.webp");
    // background-image: url("../../assets/plants.png");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-back{
    min-height:fit-content;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
}

.main >div{
    margin-top:5%;
    display:flex;
    flex-direction: column;
    text-align: center;
    color:white;
}

.main-text{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-text>span:nth-child(1){
    font-size:calc(1.3rem + 0.8vw);
    color:white;
    font-weight:600;
    margin-top:3%;
    text-align: center;
}

.main-text > span:nth-child(2){
    font-size:calc(0.9rem + 0.6vw);
    color:white;
    font-weight:600;
    margin-top:3%
}

.form-field {
    width: 100%;
}

$mailBox: rosybrown;
$mailBoxFlapR: rgb(255, 66, 66);
$mailBoxFlapL: rgb(255, 123, 123);

#wrap {
    width: 530px;
    margin: 20px auto 0;
    height: 800px;
}

#form-wrap {
    overflow: hidden;
    height: 447px;
    position: relative;
    top: 0px;
    transition: all 1s ease-in-out 0.3s;
}

#form-wrap::before {
    content: "";
    position: absolute;
    bottom: 128px;
    left: 0px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/barkat-cb375.appspot.com/o/misc%2Fbefore.png?alt=media&token=05b75510-fb29-487e-9700-560ee8e48296);
    width: 530px;
    height: 317px;
}

#form-wrap::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/barkat-cb375.appspot.com/o/misc%2Fafter.png?alt=media&token=cc305d20-45a7-447e-b510-7eb7d92f31ae);
    width: 530px;
    height: 259px;
}

#form-wrap.hide::after,
#form-wrap.hide::before {
    display: none;
}

// #form-wrap:hover{
//     height: 900px;
//     top: -200px;
// }

.form-wrap-anim {
    height: 900px !important;
    top: -200px !important;
}

form {
    background-color: white;
    position: relative;
    top: 200px;
    overflow: hidden;
    height: 200px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #cecece;
    border-right: 3px;
    transition: all 1s ease-in-out 0.3s;
    box-shadow: 2px 2px 11px #80808075;
    border-radius: 5px;

    background-image: url(../../assets/letter_bg.png);
}

.form-anim {
    height: 530px !important;
}

.errors{
    margin:-10px 0 -1px 0;
    font-size: 0.8rem;
}

// #form-wrap:hover form{
// height: 530px;
// }


.success{
    position:absolute;
    z-index:10;
    bottom:20px;
    left:35%;
    display:none;
    color:white;
    background:black;
    border-radius: 7px;
    padding:10px 15px
}

.success > p{
    margin:auto;
    font-size:1.1rem;
}


@media all and (max-width:768px){

    .main-back{
        padding-bottom: 32%;
    }

    #wrap {
        width: 350px;
        height: 600px;
    }

    #form-wrap::before {
        content: "";
        position: absolute;
        bottom: 75px;
        left: 0px;
        background-image: url(../../assets/before.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 350px;
        height: 317px;
    }
    
    #form-wrap::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-image: url(../../assets/after.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 350px;
        height: 259px;
    }

    form {
        background-color: white;
        position: relative;
        top: 200px;
        overflow: hidden;
        height: 200px;
        width: 300px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #cecece;
        border-right: 3px;
        transition: all 1s ease-in-out 0.3s;
        box-shadow: 2px 2px 11px #80808075;
        border-radius: 5px;
    
        background-image: url(../../assets/letter_bg.png);
    }

    .success{
        position:absolute;
        z-index:10;
        bottom:55px;
        left:30%;
        display:none;
        color:white;
        background:black;
        border-radius: 7px;
        padding:10px 15px
    }

    .success> p{
        font-size:0.8rem;
    }

}