<div class="container-fluid main">
        <app-header *ngIf="homeHeader"></app-header>
        <div class="container">
                <div class="main-text">
                <span >Objectives</span>
                <span >" A life lived for others is a life well lived"</span>
        </div>
        </div>
</div>

<div class="container description">
        <div class="row">
                <span >The Barkat welfare society was established by Dr.
                        Randeep Singh Kohli along with his sister Pushmeet Kaur Kohli in the year 2014. Barkat stands
                        for upliftment and the betterment of the society, driven by a passion to serve the
                        society.</span>
                <span > We aim to provide education,
                        healthcare, and community development to the underprivileged population across India. We've
                        worked for a lot of social cause be it distributing clothes to the underprivileged, installing
                        reflection radiators on the road for Road safety, raising funds for the people in need. The
                        noble deeds of Barkat have been recognized and appreciated by the International Conference and
                        Human library.</span>
        </div>
</div>

<div class="container-fluid" style="background: rgb(245,245,245);width:100%;">
        <div class="container">




                <div class="row" style="width:100%">
                        <div class="col-md-4" style="margin:5% auto">
                                <span class="objective-text">Our Objectives</span>
                        </div>
                </div>
                <div class="row" style="width:100%">
                        <div class="col-md-7" style="margin:auto">
                                <ol class="gradient-list"
                                        style="font-family: 'Indie Flower', cursive;font-size: 1.1rem;">
                                        <li> Help in providing medical assistance and legal aid.</li>
                                        <li>To identify the homeless and the destitute and facilitate their relocation
                                                in appropriate institutions.</li>
                                        <li>To provide medical and legal aid and assistance to the old aged and to take
                                                such other measures to ensure their social well being.</li>
                                        <li style="display:flex;flex-direction: column;">
                                                <span>To empower the differently abled by providing:</span>
                                                <span>Medical aid and appliances</span>
                                                <span>Vocational training and employment opportunities</span>
                                                <span>Legal aid</span>
                                                <span>Other rehabilitation measures those are necessary to ensure them a
                                                        self sustained living</span>
                                        </li>
                                        <li>To mentor and provide guidance to the youth</li>
                                        <li>To preserve and protect the environment and propagate the significance of
                                                sustainable development for maintaining ecological balance.</li>
                                        <li>To conduct study on various social issues from time to time, gather data,
                                                and carry out research.</li>
                                </ol>
                        </div>

                </div>

        </div>
</div>

<div class="container-fluid help-btn-area">
        <span class="help-btn" routerLink="/campaign">Campaigns</span>
    </div>

    <div class="container-fluid call-area">
        <span class="enrollment-btn" routerLink="/contactus">Interested in Enrollment?</span>
    </div>