<div class="container-fluid main">
        <app-header *ngIf="homeHeader"></app-header>
        <div class="container">
                <span style="font-size:3rem;font-weight:700">About us</span>
                <span style="font-size:2rem;font-weight:600;margin-top:8%">" A life lived for others is a life well
                        lived"</span>
        </div>
</div>

<div class="container description">
        <div class="row">
                <span style="color:rgb(52,73,94);font-size:1.5rem">The Barkat welfare society was established by Dr.
                        Randeep Singh Kohli along with his sister Pushmeet Kaur Kohli in the year 2014. Barkat stands
                        for upliftment and the betterment of the society, driven by a passion to serve the
                        society.</span>
                <span style="color:rgb(83, 83, 83);font-size:1.2rem;margin-top:3%"> We aim to provide education,
                        healthcare, and community development to the underprivileged population across India. We've
                        worked for a lot of social cause be it distributing clothes to the underprivileged, installing
                        reflection radiators on the road for Road safety, raising funds for the people in need. The
                        noble deeds of Barkat have been recognized and appreciated by the International Conference and
                        Human library.</span>
        </div>
</div>

<div class="container-fluid" style="background: rgb(245,245,245);width:100%;padding-top:5%">
        <div class="container">
                <div class="row">
                        <div class="col-md-4">
                                <span
                                        style="font-size:3.5rem;border-bottom: 1px solid rgb(146,159,170);padding-bottom:10%">Our
                                        Aim</span>
                        </div>
                        <div class="col-md-8" style="display:flex;flex-direction:column">
                                <span style="color:rgb(52,73,94);font-size:1.3rem">Our work aims to break the vicious
                                        cycle of poverty and social isolation and to restore hope for a better future.
                                        We believe that every person has the right to access resources and opportunities
                                        in order to live and develop with dignity and to become an active and
                                        contributing member of our society. </span>
                                <span style="color:rgb(83, 83, 83);font-size:1.2rem;margin-top:3%">We also believe that
                                        we should provide our environment in return of what we take, so we are aiming to
                                        plant 10,000 plants in one month in our current drive and will be contributing
                                        to the environment ahead in future in whatever way we can.</span>
                        </div>
                </div>

                <!-- OWL Crousel -->
                <div style="margin-top: 5vh;margin-bottom: 5vh;">
                        <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide *ngFor="let e of images">
                                        <div [ngStyle]="{'background-image':e.image}" class="img-container" (click)="openImage(e.image)">
                                                <p [ngStyle]="{'color':e.color}">
                                                        {{e.title}}</p>
                                        </div>
                                </ng-template>
                        </owl-carousel-o>
                </div>
                <!-- OWL Crousel -->

                <div class="row" style="margin-top:10%">
                        <div class="col-md-4">
                                <span
                                        style="font-size:3rem;border-bottom: 1px solid rgb(146,159,170);padding-bottom:10%">Our
                                        Objectives</span>
                        </div>
                        <div class="col-md-7">
                                <ol class="gradient-list"
                                        style="font-family: 'Indie Flower', cursive;font-size: 1.1rem;">
                                        <li> Help in providing medical assistance and legal aid.</li>
                                        <li>To identify the homeless and the destitute and facilitate their relocation
                                                in appropriate institutions.</li>
                                        <li>To provide medical and legal aid and assistance to the old aged and to take
                                                such other measures to ensure their social well being.</li>
                                        <li style="display:flex;flex-direction: column;">
                                                <span>To empower the differently abled by providing:</span>
                                                <span>Medical aid and appliances</span>
                                                <span>Vocational training and employment opportunities</span>
                                                <span>Legal aid</span>
                                                <span>Other rehabilitation measures those are necessary to ensure them a
                                                        self sustained living</span>
                                        </li>
                                        <li>To mentor and provide guidance to the youth</li>
                                        <li>To preserve and protect the environment and propagate the significance of
                                                sustainable development for maintaining ecological balance.</li>
                                        <li>To conduct study on various social issues from time to time, gather data,
                                                and carry out research.</li>
                                </ol>
                        </div>

                </div>

        </div>
</div>