<div class="container-fluid main">
    <app-header *ngIf="homeHeader"></app-header>
    <div class="container">
            <span style="font-size:3rem;font-weight:700">Campaigns</span>
            <span style="font-size:2rem;font-weight:600;margin-top:8%">" A life lived for others is a life well lived"</span>
    </div>
    </div>
    
    <div class="container description">
        <div class="row">
        <span style="color:rgb(52,73,94);font-size:1.5rem">Currently we are working on the MEGA PLANTATION DRIVE in which we aim to plant 10, 000 plants in one month. With this we can conserve the environment keeping in consideration of the social distancing norms and still can help the nature to heal. Also, we're doing SUNDAY DRIVES in which we feeds animals, workship the GOD and do tasks that motivates an individual to achieve something great in his/her lives.</span>
</div>
</div>

<div class="container">
    <div class="row" style="padding-bottom:5%">
        <div class="col-md-4" style="margin-top:5%" >
            <div style="height:40vh;width:100%;box-shadow:5px 10px 10px 0px rgba(0,0,0,0.2);border-radius: 10px;border-top: 7px solid rgb(17, 173, 194);">
                
            </div>

        </div>
        <div class="col-md-4" style="margin-top:5%">
            <div style="height:40vh;width:100%;box-shadow:5px 10px 10px 0px rgba(0,0,0,0.2);border-radius: 10px;border-top: 7px solid rgb(238, 6, 6);"></div>
        </div>
        <div class="col-md-4" style="margin-top:5%" >
            <div style="height:40vh;width:100%;box-shadow:5px 10px 10px 0px rgba(0,0,0,0.2);border-radius: 10px;border-top: 7px solid rgb(4, 33, 160);"></div>
        </div>
        <div class="col-md-4" style="margin-top:5%" >
            <div style="height:40vh;width:100%;box-shadow:5px 10px 10px 0px rgba(0,0,0,0.2);border-radius: 10px;border-top: 7px solid rgb(137, 160, 4);"></div>
        </div>
        <div class="col-md-4" style="margin-top:5%" >
            <div style="height:40vh;width:100%;box-shadow:5px 10px 10px 0px rgba(0,0,0,0.2);border-radius: 10px;border-top: 7px solid rgb(160, 4, 134);"></div>
        </div>
        <div class="col-md-4" style="margin-top:5%" >
            <div style="height:40vh;width:100%;box-shadow:5px 10px 10px 0px rgba(0,0,0,0.2);border-radius: 10px;border-top: 7px solid rgb(101, 226, 17);"></div>
        </div>
    </div>
</div>