<div class="container-fluid" style="min-height: 100vh; background-color: white;">

    <app-header></app-header>

    <div style="margin-left: 5vw;margin-right: 5vw; margin-top: 10vh; padding-bottom: 10vh;">

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-3" *ngFor="let e of images" style="margin-top: 24px; margin-bottom: 24px;">
                    <div class="bgImg" [ngStyle]="{'background-image':e.image}" (click)="openImage(e.image)">
                        <div class="bgFore">
                            <span></span>
                            <img src="https://firebasestorage.googleapis.com/v0/b/barkat-cb375.appspot.com/o/misc%2Fexpand.png?alt=media&token=bc0f4341-fc2b-43bb-a708-aa5a808cf695" alt="">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>