<div style="min-height: 100vh; background-color: gray;">

    <app-header></app-header>

    <div style="margin-left: 5vw;margin-right: 5vw; margin-top: 10vh; padding-bottom: 10vh;">

        <div class="container-fluid">
            
            <div class="row" *ngFor="let e of ['','','','']" style="margin-top: 24px;">
                <div class="col-md-3">
                    <div></div>
                    <img src="../../assets/gallery/7b78fc01-d9ea-4b0a-a1b8-63b33049aa3a.JPG" alt="">
                    <div></div>
                </div>
                <div class="col-md-3">
                    <div></div>
                    <img src="../../assets/gallery/881bc48a-fa30-42de-8fc6-380b0a38cf95.JPG" alt="">
                    <div></div>
                </div>
                <div class="col-md-3">
                    <div></div>
                    <img src="../../assets/gallery/fc30b8e6-2283-4d14-ad9e-e336cb4bb16e.JPG" alt="">
                    <div></div>
                </div>
                <div class="col-md-3">
                    <div></div>
                    <img src="../../assets/gallery/IMG-6480.JPG" alt="">
                    <div></div>
                </div>
            </div>

        </div>

    </div>


</div>