.bg-patch {
    position: absolute;
    right: 0;
    top: 0;
    width: 35%;
    height: 80vh;
    background: rgb(144, 172, 211);
    z-index: -1;
}
.founder-img {
    height: 90vh;
    position: absolute;
    z-index: -1;
    right: 40%;
    top: 8%;
}

.kohli-bar {
    width: 80%;
    background-color: whitesmoke;
    margin: auto;
    height: 10vh;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 3px #80808094;
    margin-top: -8%;
}

.kohli-bar-flex {
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.kohli-bar-flex div {
    height: 100%;
    line-height: 10vh;
    white-space: nowrap;
    font-weight: bold;
    transition: 0.3s;
    color: grey;
}

#visitBtn {
    width: fit-content;
    margin: auto;
    display: block;
    background-color: red;
    color: white;
    padding: 14px 24px 14px 24px;
    border-radius: 24px;
    font-weight: bold;
    text-decoration: none;
}

.kohli-bar-flex :hover {
    color: black;
    font-size: 20px;
}

.aboutFounder {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
    color: rgb(52, 73, 94);
}

.aboutFounder span {
    flex: 1;
}

.aboutFounder img {
    margin: auto;
    display: block;
}

.aboutFounder h1 {
    font-weight: bold;
    font-size: 30px;
}

.randeep-head {
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    line-height: unset;
}

.randeep-acts {
    font-size: 1.3em;
    color: grey;
    padding-top: 0px;
    text-align: center;
}

.pc-head {
    font-size: 3.5em;
    text-align: center;
    font-weight: bold;
    line-height: unset;
}
.pc-acts {
    font-size: 1.5em;
    color: grey;
    padding-top: 24px;
    text-align: center;
}
.second-img {
    width: 100%;
}

.bg-patch-new {
    background: rgb(144, 172, 211);
    width: 42vw;
    height: 80vh;
    position: absolute;
    top: 0;
    right: 0;
}

@media only screen and (max-width: 1150px) {
    .founder-img {
        height: 80vh;
    }
    .pc-head {
        font-size: 2.5em;
    }
    .kohli-bar {
        margin-top: -14%;
    }
    .pc-acts {
        font-size: 1.3em;
    }
    .kohli-bar-flex div {
        font-size: 14px;
    }
}
@media only screen and (max-width: 1000px) and (max-height: 800px) {
    .kohli-bar {
        margin-top: -17%;
    }
    .kohli-bar-flex div {
        font-size: 12px;
    }
    .pc-head {
        font-size: 2em;
    }
    .pc-acts {
        font-size: 1.1em;
    }

    .founder-img {
        right: 5%;
    }
    .aboutFounder {
        font-size: 15px;
        line-height: 23px;
    }
}
@media only screen and (max-width: 800px) and (max-height: 800px) {
    .kohli-bar {
        margin-top: -17%;
        width: 90%;
    }
    .kohli-bar-flex div {
        font-size: 12px;
    }
    .founder-img {
        right: 0%;
    }
}

@media only screen and (max-width: 768px) and (max-height: 800px) {
    .second-img {
        width: unset;
        height: 60vh;
        margin: auto;
        display: block;
    }
}

@media only screen and (min-height: 800px) and (max-height: 1000px) {
    .founder-img {
        right: 20%;
    }
}

@media only screen and (min-height: 1000px) and (max-height: 1200px) {
    .founder-img {
        right: 40px;
    }
}

@media only screen and (min-height: 1200px) {
    .founder-img {
        right: 20px;
        height: unset;
        max-height: 800px;
        top: 20%;
    }
}
