<div >
    <app-header *ngIf="homeHeader"></app-header>
</div>

<div class="main container-fluid" style="height:100vh">
    <div class="row" style="height: inherit;">
        <div class="col-md-6">
            <div style="height:5vh;width:5%;clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);background: black;">
                 
            </div>
        </div>
        <div class="col-md-6" style="position:relative;height:70vh">
            <div style="height:inherit;width:60%;background:rgb(144,172,211);position:absolute;right:0;z-index: -2;">
            </div>
            <img style="height:90vh;position:absolute;left:10%;bottom:-54px;z-index:-1" src="../../assets/12-removebg.png" alt="">
        </div>
    </div>
</div>