<mat-drawer-container class="example-container" style="min-height: 100vh;">
    <mat-drawer mode="side" opened>

        <div style="height: 100%;">
            <mat-selection-list #shoes [multiple]="false">
                <mat-list-option>DashBoard</mat-list-option>
                <mat-list-option>Contact Us</mat-list-option>
                <mat-list-option>Footer</mat-list-option>
                <mat-list-option>Media</mat-list-option>
                <mat-list-option>Album</mat-list-option>
            </mat-selection-list>
        </div>

    </mat-drawer>
    <mat-drawer-content>

        <mat-toolbar color="primary">
            <button mat-icon-button>
                <mat-icon>menu</mat-icon>
            </button>
            <span>Barkat Admin Management</span>
            <span style="flex: 1;"></span>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="user.signOut()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>

        </mat-toolbar>

    </mat-drawer-content>
</mat-drawer-container>