<div style="min-height: 100vh">

    <mat-drawer-container class="example-container" style="min-height: 100vh;min-width: 100%;">

        <mat-drawer-content>

            <app-admin-dash-nav></app-admin-dash-nav>
            <div>
                <app-admin-summary *ngIf="page=='summary'"></app-admin-summary>
                <app-admin-contactus *ngIf="page=='contactus'"></app-admin-contactus>
                <app-admin-footer *ngIf="page=='footer'"></app-admin-footer>
            </div>

        </mat-drawer-content>
    </mat-drawer-container>

</div>

<div *ngIf="loading">
    Loading ...
</div>