// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$barkat-primary: mat-palette($mat-indigo);
$barkat-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$barkat-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$barkat-theme: mat-light-theme($barkat-primary, $barkat-accent, $barkat-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($barkat-theme);

/* You can add global styles to this file, and also import other style files */

@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nanum Gothic", sans-serif;
}

* {
    outline: none;
}

.mat-body,
.mat-body-1,
.mat-typography {
    // font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    font-family: "Nanum Gothic", sans-serif !important;
    font: unset !important;
}

.imageViewer .mat-dialog-container {
    padding: 6px;
    width: 60vw;
}

*{
    outline: none!important;
}

/* ======== RESPONSIVE ========= */
.mb-display {
    display: none !important;
}
.pc-display {
    display: block !important;
}
.pc-flex-display {
    display: flex !important;
}
@media only screen and (max-width: 600px) {
    .mb-container-padding{
        padding-right: 15px!important;
        padding-left: 15px!important;
    }
    .mb-display {
        display: block !important;
    }
    .pc-flex-display,
    .pc-display {
        display: none !important;
    }
}
