.main{
    height:100vh;
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(49, 49, 49, 0.8), 
      rgba(49, 49 ,49, 0.45)
    ),
  
    /* bottom, image */
    url("../../assets/plants.png");
    // background-image: url("../../assets/plants.png");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-text>span:nth-child(2){
    position:relative;
    font-size: calc(1rem + 2vw)
}

.associates{
    font-size:calc(2rem + 2vw);
    font-weight: 600;
    color:rgb(52,73,94);
}

.videoo{
    min-height:75vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.watch-btn{
    margin-top:2%;  
    border:1px solid rgb(58,155,220);
    width:35%;
    text-align:center;
    padding:10px 15px;
    border-radius:30px;
    font-size:1.4rem;
    color:rgb(52,152,219);
    cursor:pointer
}
.watch-btn:hover{
    color:white;
    background-color: rgb(52,152,219);
}

.blue-zone{
    height:100vh;
    width:100%;
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(86, 142, 166, 0.9), 
      rgba(80, 140, 167, 0.9)
    ),
  
    /* bottom, image */
    url("../../assets/planting.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;

}

.blue-zone>div{
    height:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.orange-zone{
    min-height:70vh;
    width:100%;
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
        rgba(238, 88, 83, 0.9), 
        rgba(238, 88, 83, 0.9), 
    ),
  
    /* bottom, image */
    url("../../assets/tree-planting.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.orange-content{
    margin-top:3%;
    display:flex;
    flex-direction:column;
    line-height: 2rem;
}

.orange-content>span:nth-child(1){
    margin-top:2%;
    color:white;
    font-size:calc(1.1rem + 0.3vw);
}

.orange-content>span:nth-child(2){
    margin:3% 0;
    color:white;
    font-size:calc(1.1rem + 0.3vw);
}

.home-profiles{
    height:95vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-evenly;
    font-family: 'Caveat', cursive;
    color:rgb(54,75,96)
}

.help-btn-area{
    height:30vh;
    background-color: rgb(245,245,245);
    display:flex;
    align-items: center;
    justify-content: center;
}

.help-btn{
    border:2px solid rgb(238, 69, 64);
    color:rgb(238, 69, 64);
    padding:13px 35px;
    font-size:1.3rem;
    border-radius: 30px;
    cursor:pointer;
}

.help-btn:hover{
    color:white;
    background-color:rgb(238, 69, 64);
    box-shadow:1px 1px 3px 1px rgb(156, 155, 155);
}

.call-area{
    margin-top:2%;
    height:30vh;
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;    
}

.enrollment-btn{
    margin-top:2%;
    background-color:#510a32;
    color:white;
    padding:13px 30px;
    font-size:1.3rem;
    border-radius:30px;
    cursor:pointer;
}

.enrollment-btn:hover{
    background-color: #3d0726;
}

.offers{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.service-btn{
    font-size:1.1rem;
    color:white;
    font-weight: 600;
    text-align: center;
    padding:15px 60px;
    border:2px solid white;
    border-radius: 30px;
    cursor:pointer;
}

.service-btn:hover{
    background-color: white;
    color:rgba(230, 129, 61, 0.9)
}

.program-btn{
    font-size:1.1rem;
    color:white;
    font-weight: 600;
    text-align: center;
    padding:15px 60px;
    border:2px solid white;
    border-radius: 30px;
    cursor:pointer;
}

.program-btn:hover{
    background-color: white;
    color:rgba(230, 129, 61, 0.9)
}

.p-cards{
    min-height: 100vh;
    padding:3% 0
}

.cardy{
    position: relative;
    height:400px;
    width:250px;
    overflow: hidden;
    box-shadow:0px 5px 10px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.cardy:hover{
    box-shadow:5px 10px 20px 0px rgba(0,0,0,0.2);
}

.cardy-main{
    position:absolute;
    width:100%;
    height:100%;
    transform-style:preserve-3d;
    transition:all 0.5s ease;
}

.cardy-main-rotate{
    transform:rotateY(180deg);
}

.cardy-front-hide{
    visibility: hidden;
}

.cardy-front{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
}

.cardy-back{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
    background:white;
    transform:rotateY(180deg);
}

.cardy-header{
    position: absolute;
    width:100%;
    height:250px;
    overflow: hidden;
    background:#444;
    z-index:1;
}

.cardy-header > div{
    background-size: cover;
    background-position: top;
    position: absolute;
    width:130px;
    height:130px;
    object-fit:cover;
    top:20px;
    left:50%;
    transform: translateX(-50%);
    border-radius: 50%;
    z-index:100
}

.cardy-header > h2{
    color:white;
    margin-top:150px;
    text-align: center;
    font-size:18px;

}

.cardy-header > h3{
    color:white;
    margin-top:-20px;
    text-align: center;
    font-size:13px;

}

.iconss{
    position:absolute;
    top:52%;
    height:100px;
    width:100%;
    left:50%;
    transform: translateX(-50%);
    z-index:1;
    display:flex;
    justify-content:center;

}

.link{
    text-decoration: none;
    height:40px;
    width:40px;
    margin:7px;
    color:white;
    background: rgb(39,39,39);
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 20px;
    transition:0.4s;
}

.link:hover{
    background: white;
    color:rgb(39,39,39);
}

.more{
    position: absolute;
    bottom:30px;
    left:50%;
    transform: translateX(-50%);
    cursor:pointer
}

.more > a{
    text-decoration: none;
    padding:10px 30px;
    color:#353535;
    border:1px solid #353535;
    border-radius: 30px;
    transition: 0.4s;
}

.more > a:hover{
    background: #353535;
    color:white;
}

.more > span{
    text-decoration: none;
    padding:10px 30px;
    color:#353535;
    border:1px solid #353535;
    border-radius: 30px;
    transition: 0.4s;
}

.more > span:hover{
    background: #353535;
    color:white;
}

.wave-container{
    position:absolute;
    width:100%;
    height:70%;
    top:0;
}

.wave{
    position: absolute;
    height:600px;
    width:600px;
    opacity:0.6;
    border-radius: 40%;
    left:-200px;
    top:-112%;
    background: linear-gradient(#353535,#383737);
    animation: wave 6s infinite linear;
}

@keyframes wave{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.wave:nth-child(2){
    animation-delay:0.2s;
}

.wave:nth-child(3){
    animation-delay:0.3s;
}

.founder-quote{
    position:relative;
    font-size:1.3rem;
    text-align: center;
}

.founder-quote::before{
    content:'"';
    position:absolute;
    top:-10px;
    left:-15px;
    font-size:2rem
}

.founder-quote::after{
    content:'"';
    position:absolute;
    bottom:-10px;
    right:-15px;
    font-size:2rem
}

.img-container {
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center
  }
  .img-container p {
    width: 100%;
    backdrop-filter: brightness(0.1);
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 24px;
  }

  @media all and (max-width:768px){
      .main-text>span:nth-child(1){
          margin-top:50%;
          
      }
      .main-text>span:nth-child(2){
        line-height: 2rem;
      }

      .videoo{
          display:flex;
          flex-direction: column-reverse;
      }

      .videoo >div >video{
          margin:10% 0;
      }

      .orange-content>span:nth-child(2){
        margin:10% 0;
    }
  }