.main{
    height:100vh;
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(49, 49, 49, 0.8), 
      rgba(49, 49 ,49, 0.45)
    ),
  
    /* bottom, image */
    url("../../assets/plants.png");
    // background-image: url("../../assets/plants.png");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.atomic-col{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding-top:7%;
    padding-bottom:7%;
}
.watch-btn{
    margin-top:2%;  
    border:1px solid rgb(58,155,220);
    width:35%;
    text-align:center;
    padding:10px 15px;
    border-radius:30px;
    font-size:1.4rem;
    color:rgb(52,152,219);
    cursor:pointer
}
.watch-btn:hover{
    color:white;
    background-color: rgb(52,152,219);
}

.blue-zone{
    height:100vh;
    width:100%;
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(47, 152, 223, 0.9), 
      rgba(41, 154, 230, 0.9)
    ),
  
    /* bottom, image */
    url("../../assets/planting.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;

}

.blue-zone>div{
    height:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.orange-zone{
    height:85vh;
    width:100%;
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
        rgba(240, 141, 76, 0.9), 
        rgba(240, 142, 76, 0.9)
    ),
  
    /* bottom, image */
    url("../../assets/tree-planting.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-profiles{
    height:95vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-evenly;
    font-family: 'Caveat', cursive;
    color:rgb(54,75,96)
}

.help-btn-area{
    height:30vh;
    background-color: rgb(245,245,245);
    display:flex;
    align-items: center;
    justify-content: center;
}

.help-btn{
    border:2px solid rgb(218,165,32);
    color:rgb(218,165,32);
    padding:13px 35px;
    font-size:1.3rem;
    border-radius: 30px;
    cursor:pointer;
}

.help-btn:hover{
    color:white;
    background-color:rgb(218,165,32);
    box-shadow:1px 1px 3px 1px rgb(156, 155, 155);
}

.call-area{
    margin-top:2%;
    height:40vh;
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;    
}

.enrollment-btn{
    margin-top:2%;
    background-color:rgb(0,0,128);
    color:white;
    padding:13px 30px;
    font-size:1.3rem;
    border-radius:30px;
    cursor:pointer;
}

.enrollment-btn:hover{
    background-color: rgb(2, 2, 99);
}

.offers{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.service-btn{
    font-size:1.1rem;
    color:white;
    font-weight: 600;
    text-align: center;
    padding:15px 60px;
    border:2px solid white;
    border-radius: 30px;
    cursor:pointer;
}

.service-btn:hover{
    background-color: white;
    color:rgba(230, 129, 61, 0.9)
}

.program-btn{
    font-size:1.1rem;
    color:white;
    font-weight: 600;
    text-align: center;
    padding:15px 60px;
    border:2px solid white;
    border-radius: 30px;
    cursor:pointer;
}

.program-btn:hover{
    background-color: white;
    color:rgba(230, 129, 61, 0.9)
}

.p-cards{
    min-height: 100vh;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap:20px;
    place-items:center;
    overflow-x: hidden;
}

.cardy{
    position: relative;
    height:400px;
    width:250px;
    overflow: hidden;
    box-shadow:0px 5px 10px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.cardy:hover{
    box-shadow:5px 10px 20px 0px rgba(0,0,0,0.2);
}

.cardy-main{
    position:absolute;
    width:100%;
    height:100%;
    transform-style:preserve-3d;
    transition:all 0.5s ease;
}

.cardy-main-rotate{
    transform:rotateY(180deg);
}

.cardy-front{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
}

.cardy-back{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
    background:green;
    transform:rotateY(180deg);
}

.cardy-header{
    position: absolute;
    width:100%;
    height:250px;
    overflow: hidden;
    background:#444;
    z-index:1;
}

.cardy-header > img{
    position: absolute;
    width:100px;
    height:100px;
    object-fit:cover;
    top:50px;
    left:50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.cardy-header > h2{
    color:white;
    margin-top:160px;
    text-align: center;
    font-size:18px;

}

.iconss{
    position:absolute;
    top:52%;
    height:100px;
    width:100%;
    left:50%;
    transform: translateX(-50%);
    z-index:1;
    display:flex;
    justify-content:center;

}

.link{
    text-decoration: none;
    height:40px;
    width:40px;
    margin:7px;
    color:white;
    background: rgb(39,39,39);
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 20px;
    transition:0.4s;
}

.link:hover{
    background: white;
    color:rgb(39,39,39);
}

.more{
    position: absolute;
    bottom:30px;
    left:50%;
    transform: translateX(-50%);
}

.more > a{
    text-decoration: none;
    padding:10px 30px;
    color:#353535;
    border:1px solid #353535;
    border-radius: 30px;
    transition: 0.4s;
}

.more > a:hover{
    background: #353535;
    color:white;
}

.more > span{
    text-decoration: none;
    padding:10px 30px;
    color:#353535;
    border:1px solid #353535;
    border-radius: 30px;
    transition: 0.4s;
}

.more > span:hover{
    background: #353535;
    color:white;
}

.wave-container{
    position:absolute;
    width:100%;
    height:70%;
    top:0;
}

.wave{
    position: absolute;
    height:600px;
    width:600px;
    opacity:0.6;
    border-radius: 40%;
    left:-200px;
    top:-112%;
    background: linear-gradient(#353535,#383737);
    animation: wave 3s infinite linear;
}

@keyframes wave{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.wave:nth-child(2){
    animation-delay:0.2s;
}

.wave:nth-child(3){
    animation-delay:0.3s;
}
