<div class="main">
    <app-header *ngIf="homeHeader"></app-header>
    <div class="container" style="display:flex;flex-direction:column;text-align: center; ">
        <span style="font-size: 3rem;color:white">Barkat</span>
        <span style="font-size: 3rem;color:white">Improving the quality of live for youth with</span>
        <span style="font-size: 3rem;color:white">cognitive challanges and extraordinary behavioural</span>
        <span style="font-size: 3rem;color:white">needs </span>
        <div class="tour"
            style="display:flex;margin:5% auto 0 auto;font-size:1.7rem;color:white;justify-content: center;border:none;border-radius:30px;box-shadow:1px 2px 1px 1px rgb(65, 65, 65);cursor:pointer">
            <span
                style="padding:15px 30px;background-color:rgb(45, 175, 226);border-top-left-radius: 30px;border-bottom-left-radius: 30px;">How
                we help</span>
            <span
                style="padding:15px 30px;background-color: rgb(5, 134, 194);border-top-right-radius: 30px;border-bottom-right-radius: 30px;">Take
                the tour</span>
        </div>
    </div>
</div>
<img src="../../assets/plants.png" alt="">
<img src="../../assets/plants.png" alt="">