<div class="main">
    <app-header *ngIf="homeHeader"></app-header>
    <div class="container" style="display:flex;flex-direction:column;text-align: center;margin-top:5% ">
        <span style="font-size: 3rem;color:white">Barkat</span>
        <span style="font-size: 3rem;color:white">Improving the quality of live for youth with</span>
        <span style="font-size: 3rem;color:white">cognitive challanges and extraordinary behavioural</span>
        <span style="font-size: 3rem;color:white">needs </span>
        <div class="tour"
            style="display:flex;margin:5% auto 0 auto;font-size:1.5rem;color:white;justify-content: center;border:none;border-radius:30px;box-shadow:1px 2px 1px 1px rgb(65, 65, 65);cursor:pointer">
            <span
                style="padding:10px 25px;background-color:#c72c41;border-top-left-radius: 30px;border-bottom-left-radius: 30px;">
                How we help</span>
            <span
                style="padding:10px 25px;background-color: #801336;border-top-right-radius: 30px;border-bottom-right-radius: 30px;">
                Take the tour</span>
        </div>
    </div>
</div>

<!-- ---------------------------------------------Atomic-elements--------------------------------------------------------------- -->

<div class="container-fluid" style="background-image:linear-gradient(to right,rgb(245,245,245), rgb(229,239,245))">
    <div class="container">
        <div class="row">
            <div class="col-md-4 atomic-col" style="background-color: rgb(247,247,247);">
                <img src="../../assets/icon-atom.svg" alt="" style="max-width:35%;margin-bottom:5%">
                <span style="font-size:1.7rem;font-weight: 700;margin-top:5%;margin-bottom:3%;color:rgb(52,73,94)">All
                    Ages</span>
                <span style="margin-top:3%;color:rgb(63,83,103)">Serving children and yound adults</span>
            </div>
            <div class="col-md-4 atomic-col" style="background-color: rgb(237,242,245);">
                <img src="../../assets/icon-atom.svg" alt="" style="max-width:35%;margin-bottom:5%">
                <span style="font-size:1.7rem;font-weight: 700;margin-top:5%;margin-bottom:3%;color:rgb(52,73,94)">All
                    Ages</span>
                <span style="margin-top:3%;color:rgb(63,83,103)">Serving children and yound adults</span>
            </div>
            <div class="col-md-4 atomic-col" style="    background-color: rgb(227,237,243);">
                <img src="../../assets/icon-atom.svg" alt="" style="max-width:35%;margin-bottom:5%">
                <span style="font-size:1.7rem;font-weight: 700;margin-top:5%;margin-bottom:3%;color:rgb(52,73,94)">All
                    Ages</span>
                <span style="margin-top:3%;color:rgb(63,83,103)">Serving children and yound adults</span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="height:90vh;display:flex;justify-content: space-around;align-items: center;">
        <div class="col-md-6">
            <video id="my-video" class="video-js" controls preload="auto"  width="400"  height="300"
                poster="../../assets/tree.jpeg" data-setup="{}">
                <source src="../../assets/yo.mp4" type="video/mp4" />
                <source src="MY_VIDEO.webm" type="video/webm" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>
            
        </div>
        <div class="col-md-6" style="display:flex;flex-direction:column;justify-content: space-evenly;">
            <span style="color: rgb(52,73,94);font-size:2.5rem;font-weight:600">We're here to help</span>
            <span style="color:rgb(60,80,100);font-size:1.3rem;margin-top:5%">Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </span>
            <span style="color:rgb(84,102,119);font-size:1.3rem;margin-top:3%">Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </span>
            <span class="watch-btn">Watch Video</span>
        </div>
    </div>
</div>

<div class="blue-zone container-fluid">
    <div class="container">
        <img src="../../assets/coa.png" alt="" style="margin-bottom:2%">
        <span style="color:white;font-size:2rem;font-weight: 600;margin:2% 0">Staff dedicated to making a
            difference</span>
        <span
            style="color:white;font-size:1.3rem;font-family: 'Open Sans Condensed', sans-serif;width:60%;text-align: center;font-weight:600;margin:2% 0">We
            are fortunate to attract some of the brightest people in our industry to work with us and to care for the
            children that call Chileda home.</span>
        <span
            style="color:white;font-size:1.2rem;font-family: 'Abel', sans-serif;text-align:center;width:70%;margin:2% 0">The
            talents of our staff are exceeded only by their enthusiasm and commitment. Many of our staff have been with
            Chileda for over 15 years, a testament to their dedication, belief in our mission and to each child’s
            potential to succeed.</span>
    </div>
</div>
<div class="orange-zone container-fluid">
    <div class="container" style="height:100%">
        <div class="row" style="height:100%">
            <div class="col-md-6 offers" style="box-shadow:4px 0 16px 0 rgba(221, 80, 75, 0.9);">
                <span style="color:white;font-size:3rem;font-weight:700;margin-top:20%;margin-bottom:5%">Barkat</span>
                <span style="color:white;font-size:2.3rem;font-weight:600;margin:5% 0;">Our Services</span>
                <span
                    style="color:white;font-size:1.5rem;font-family: 'Abel', sans-serif;text-align: center;margin:3% 0">Lorem
                    Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s.</span>
                <span class="service-btn">Services</span>
            </div>
            <div class="col-md-6 offers" style="box-shadow:1px 0 16px 0 rgba(221, 80, 75, 0.9)">
                <span style="color:white;font-size:3rem;font-weight:700;margin-top:20%;margin-bottom:5%">Barkat</span>
                <span style="color:white;font-size:2.3rem;font-weight:600;margin:5% 0;">Programs we offer</span>
                <span
                    style="color:white;font-size:1.5rem;font-family: 'Abel', sans-serif;text-align: center;margin:3% 0;">Lorem
                    Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s.</span>
                <span class="program-btn">Programs</span>
            </div>
        </div>
    </div>
</div>



<div class="container p-cards">
    <div class="row">
        <div class="col-md-4">
    <div class=" cardy" style="margin:10% auto">
        <div class="cardy-main">
            <div class="cardy-front">
                <div class="cardy-header">
                    <img src="../../assets/founders/IMG-20200728-WA0036.jpg" alt="">
                    <h2>person</h2>
                </div>
                <div class="wave-container">
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                </div>
                <div class="iconss">
                    <a href="" class="link"><i class="fab fa-facebook-f"></i></a>
                    <a href="" class="link"><i class="fab fa-instagram"></i></a>
                    <a href="" class="link"><i class="fab fa-twitter"></i></a>
                    <a href="" class="link"><i class="fab fa-linkedin"></i></a>
                </div>
                <div class="more">
                    <span (click)="rotate()">MORE</span>
                </div>
            </div>
            <div class="cardy-back" style="position:relative">
                <div style="position:absolute;left:20px;top:60px;text-align: center;">
                    <span class="founder-quote">Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s.</span>
                </div>
                <div class="more">
                    <span (click)="rotate()">BACK</span>
                </div>

            </div>
        </div>
    </div>
</div>
    <div class="col-md-4" >
    <div class="cardy" style="margin:10% auto">
        <div class="cardy-header">
            <img src="../../assets/founders/IMG-20200923-WA0045.jpg" alt="">
            <h2>person</h2>
        </div>
        <div class="wave-container">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
        <div class="iconss">
            <a href="" class="link"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="link"><i class="fab fa-instagram"></i></a>
            <a href="" class="link"><i class="fab fa-twitter"></i></a>
            <a href="" class="link"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="more">
            <a href="">MORE</a>
        </div>
    </div>
</div>
    <div class="col-md-4">
    <div class="cardy" style="margin:10% auto">
        <div class="cardy-header">
            <img src="../../assets/founders/IMG-20200923-WA0046.jpg" alt="">
            <h2>person</h2>
        </div>
        <div class="wave-container">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
        <div class="iconss">
            <a href="" class="link"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="link"><i class="fab fa-instagram"></i></a>
            <a href="" class="link"><i class="fab fa-twitter"></i></a>
            <a href="" class="link"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="more">
            <a href="">MORE</a>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="cardy" style="margin:10% auto">
        <div class="cardy-header">
            <img src="../../assets/founders/IMG-20200923-WA0047.jpg" alt="">
            <h2>person</h2>
        </div>
        <div class="wave-container">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
        <div class="iconss">
            <a href="" class="link"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="link"><i class="fab fa-instagram"></i></a>
            <a href="" class="link"><i class="fab fa-twitter"></i></a>
            <a href="" class="link"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="more">
            <a href="">MORE</a>
        </div>
    </div>
</div>
<div class="col-md-6" >
    <div class="cardy" style="margin:10% auto">
        <div class="cardy-header">
            <img  src="../../assets/founders/IMG-20200209-WA0036-02.jpeg" alt="">
            <h2>person</h2>
        </div>
        <div class="wave-container">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
        <div class="iconss">
            <a href="" class="link"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="link"><i class="fab fa-instagram"></i></a>
            <a href="" class="link"><i class="fab fa-twitter"></i></a>
            <a href="" class="link"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="more">
            <a href="">MORE</a>
        </div>
    </div>
</div>
</div>
</div>

<div class="container-fluid help-btn-area">
    <span class="help-btn" routerLink="/aboutus">About Us</span>
</div>

<div class="container-fluid call-area">
    <span style="color:white;font-size:1.8rem;font-weight:600">Give us a call +91 9988776655</span>
    <span class="enrollment-btn" routerLink="/contactus">Interested in Enrollment?</span>
</div>