.main{
    height:100vh;
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(49, 49, 49, 0.8), 
      rgba(49, 49 ,49, 0.45)
    ),
  
    /* bottom, image */
    url("../../assets/plants.png");
    // background-image: url("../../assets/plants.png");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main::after{
    content:'';
    color:black;
}
.watch-btn{
    margin-top:2%;  
    border:1px solid rgb(58,155,220);
    width:35%;
    text-align:center;
    padding:10px 15px;
    border-radius:30px;
    font-size:1.4rem;
    color:rgb(52,152,219);
    cursor:pointer
}
.watch-btn:hover{
    color:white;
    background-color: rgb(52,152,219);
}